body {
    margin: 0px;
    padding: 0px;
}

.hide-scrollbar::-webkit-scrollbar {
    opacity: 0;
    width: 10px;
}

.hide-scrollbar:hover::-webkit-scrollbar {
    opacity: 1;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 7px 0px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #e1e4e8;
    border-radius: 8px;
}

#editorjs::-webkit-scrollbar {
    opacity: 0;
    width: 10px;
}

#editorjs:hover::-webkit-scrollbar {
    opacity: 1;
}

#editorjs {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#editorjs::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 7px 0px;
}

#editorjs::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#editorjs:hover::-webkit-scrollbar-thumb {
    background-color: #e1e4e8;
    border-radius: 8px;
}

.flex-1-1 {
    flex: 1 1 49%;
}

.ce-toolbar__content,
.ce-block__content {
    max-width: 100% !important;
    margin-left: 75px !important;
    margin-right: 75px !important;
}

.ce-popover-item__icon {
    min-width: 26px !important;
    min-height: 26px !important;
}

.previewNote h1,
#editorjs h1 {
    display: block !important;
    font-size: 2em !important;
    margin-top: 0.67em !important;
    margin-bottom: 0.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.previewNote h2,
#editorjs h2 {
    display: block !important;
    font-size: 1.5em !important;
    margin-top: 0.83em !important;
    margin-bottom: 0.83em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.previewNote h3,
#editorjs h3 {
    display: block !important;
    font-size: 1.17em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.previewNote h4,
#editorjs h4 {
    display: block !important;
    margin-top: 1.33em !important;
    margin-bottom: 1.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.previewNote h5,
#editorjs h5 {
    display: block !important;
    font-size: .83em !important;
    margin-top: 1.67em !important;
    margin-bottom: 1.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.previewNote h6,
#editorjs h6 {
    display: block !important;
    font-size: .67em !important;
    margin-top: 2.33em !important;
    margin-bottom: 2.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
}

.previewNote ul {
    padding: revert !important;
}

@media screen and (max-width: 768px) {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    html.white .scroll-shadow-s::after {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        right: 15px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(249, 251, 252, 1));
        z-index: 9999999;
    }

    html.white .scroll-shadow-e::before {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        left: 15px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(249, 251, 252, 1));
        z-index: 9999999;
    }

    html.dark .scroll-shadow-s::after {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        right: 15px;
        background: linear-gradient(to right, rgba(13, 17, 23, 0), rgba(13, 17, 23, 1));
        z-index: 9999999;
    }

    html.dark .scroll-shadow-e::before {
        content: "";
        width: 40px;
        height: 100%;
        position: absolute;
        left: 15px;
        background: linear-gradient(to left, rgba(13, 17, 23, 0), rgba(13, 17, 23, 1));
        z-index: 9999999;
    }
}

@media screen and (min-width: 1280px) {
    .flex-1-1 {
        flex: 1 1 32%;
    }
}